argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
dj-database-url==1.0.0
dj-static==0.0.6
Django==4.0.6
gunicorn==20.1.0
npx==0.0.20
SQLAlchemy==1.4.32
sqlparse==0.4.2
whitenoise==6.2.0
django-compressor
django-widget-tweaks
django-widgets-improved
wheel
mysqlclient
django-markdownx
django-environ
django-tailwind
mysql
requests
line-bot-sdk
