{% extends 'base.html' %}
{% load static %}
{% block login %}


<div class="bg-pink-700 p-2 mt-4">
    <h1 class="m-2 text-2xl text-white font-bold md:text-4xl">パスワード変更</h1>
</div>
<div class="my-10 p-4 md:w-1/2 mx-auto">
    {% if form.errors %}
    {% for error in form.errors.values %}
    <div class="text-xl text-red-600 pb-2 py-2">
        <span>{{ error }}</span>
    </div>
    {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'login_app:password_change_view' %}">
        {% csrf_token %}
        <div class="mb-6">
            <label for="id_{{ form.old_password.name }}" class="block mb-2 text-sm font-medium text-gray-900">{{ form.old_password.label }}</label>
            <input type="password" id="id_{{ form.old_password.name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="" name="{{ form.old_password.name }}" required>
        </div> 
        <div class="mb-6">
            <label for="id_{{ form.new_password1.name }}" class="block mb-2 text-sm font-medium text-gray-900">{{ form.new_password1.label }}</label>
            <input type="password" id="id_{{ form.new_password1.name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="" name="{{ form.new_password1.name }}" required>
        </div> 
        <div class="mb-6">
            <label for="id_{{ form.new_password2.name }}" class="block mb-2 text-sm font-medium text-gray-900">{{ form.new_password2.label }}</label>
            <input type="password" id="id_{{ form.new_password2.name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="" name="{{ form.new_password2.name }}" required>
        </div> 
        <div class="flex gap-4">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-1/2 sm:w-auto px-5 py-2.5 text-center">パスワード変更</button>
        </div>
    </form>
</div>    

{% endblock %}