
{% extends 'base.html' %}
{% load static %}
{% block home %}

<div class="bg-pink-700 p-2 mt-4">
    <h1 class="m-2 text-2xl text-white font-bold md:text-4xl">インストラクター</h1>
</div>
<div class="flex flex-col md:flex-row py-4">
    <div class="p-2">
        <img src="{% static 'img\street_dance.jpg' %}" alt="" class="rounded-md inline-block w-full">
    </div>

    <div class="font-sans text-left tracking-wide leading-relaxed ml-4">
        <p class="p-1">
            <span>はじめまして、私はダンスインストラクターのサンプルダンスと申します。</span>
        </p>
        <p class="p-1">
            <span>ダンスを通じて、皆さんが自分自身と向き合い、自信を持って踊れるようにお手伝いすることが私のミッションです。</span>
        </p>
        <p class="p-1">
            <span>私自身、10年以上のダンス歴を持ち、様々なスタイルのダンスを経験してきました。特にラテンダンスに関しては、競技会での経験もあります。</span>
        </p>
        <p class="p-1">
            <span>私のクラスでは、初心者から経験者まで、それぞれのレベルに合わせた指導を行います。ダンスは、体力だけでなく心も鍛えることができる素晴らしいスポーツです。</span>
        </p>
        <p class="p-1">
            <span>皆さんと一緒に、ダンスの楽しさを共有できることを楽しみにしています。</span>
        </p>
    </div>
</div>

{% endblock %}
