{% extends 'base.html' %}
{% load static %}
{% block home %}

<div class="bg-pink-700 p-2 mt-4">
    <h1 class="m-2 text-2xl text-white font-bold md:text-4xl">レッスンスケジュール</h1>
</div>
<div class="container  mx-auto">

    <div class="my-10 p-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 justify-items-center">
    
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="{% static 'img/rect846.png' %}" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="my-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sampleclass 2021</h5>
                    </a>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">月曜日</span>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">:</span>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">18:00~19:00</span>
                    <p class="my-3 text-xl font-medium text-gray-700 dark:text-gray-400">なんとかスタジオ</p>
                    <p class="my-1 text-xl font-medium text-gray-700 dark:text-gray-400">〒590-0985</p>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">大阪府堺市堺区戎島町３丁</span>
                </div>
            </div>
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="{% static 'img/rect846.png' %}" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="my-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sampleclass 2021</h5>
                    </a>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">月曜日</span>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">:</span>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">18:00~19:00</span>
                    <p class="my-3 text-xl font-medium text-gray-700 dark:text-gray-400">なんとかスタジオ</p>
                    <p class="my-1 text-xl font-medium text-gray-700 dark:text-gray-400">〒590-0985</p>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">大阪府堺市堺区戎島町３丁</span>
                </div>
            </div>
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="{% static 'img/rect846.png' %}" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="my-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sampleclass 2021</h5>
                    </a>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">月曜日</span>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">:</span>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">18:00~19:00</span>
                    <p class="my-3 text-xl font-medium text-gray-700 dark:text-gray-400">なんとかスタジオ</p>
                    <p class="my-1 text-xl font-medium text-gray-700 dark:text-gray-400">〒590-0985</p>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">大阪府堺市堺区戎島町３丁</span>
                </div>
            </div>
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img class="rounded-t-lg" src="{% static 'img/rect846.png' %}" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="my-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sampleclass 2021</h5>
                    </a>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">月曜日</span>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">:</span>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">18:00~19:00</span>
                    <p class="my-3 text-xl font-medium text-gray-700 dark:text-gray-400">なんとかスタジオ</p>
                    <p class="my-1 text-xl font-medium text-gray-700 dark:text-gray-400">〒590-0985</p>
                    <span class="mb-3 text-xl font-medium text-gray-700 dark:text-gray-400">大阪府堺市堺区戎島町３丁</span>
                </div>
            </div>
        
        </div>
    </div>

    
    
</div>
{% endblock %}