{% extends 'base.html' %}
{% load static %}
{% block home %}

<div class="bg-pink-700 p-2 mt-4">
    <h1 class="m-2 text-2xl text-white font-bold md:text-4xl">料金について</h1>
</div>
<div class="my-10 p-4 mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 justify-items-center">
        <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="flex items-baseline text-gray-900 dark:text-white">
                <span class="text-3xl font-semibold">入会金・年会費</span>
            </div>
            <!-- List -->
            <ul role="list" class="space-y-5 my-7">
                <li class="flex space-x-3">
                    <!-- Icon -->
                    <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">今なら0円</span>
                </li>
                <li class="flex space-x-3">
                    <!-- Icon -->
                    <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">キャンペーン実施中</span>
                </li>


            </ul>
        </div>

        <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="flex items-baseline text-gray-900 dark:text-white">
                <span class="text-3xl font-semibold">クラス</span>
            </div>
            <!-- List -->
            <ul role="list" class="space-y-5 my-7">
                <li class="flex space-x-3">
                    <!-- Icon -->
                    <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">キッズクラス</span>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">:</span>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">¥5500</span>
                    
                </li>
                <li class="flex space-x-3">
                    <!-- Icon -->
                    <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">OPENクラス</span>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">:</span>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">¥6500</span>
                </li>
                <li class="flex space-x-3">
                    <!-- Icon -->
                    <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">一般クラス</span>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">:</span>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">¥6500</span>
                </li>

            </ul>
        </div>

        <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="flex items-baseline text-gray-900 dark:text-white">
                <span class="text-3xl font-semibold">１レッスンごとの受講</span>
            </div>
            <!-- List -->
            <ul role="list" class="space-y-5 my-7">
                <li class="flex space-x-3">
                    <!-- Icon -->
                    <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">キッズ</span>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">:</span>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">¥6500</span>


                </li>
                <li class="flex space-x-3">
                    <!-- Icon -->
                    <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">一般クラス</span>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">:</span>
                    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">¥6500</span>

                </li>


            </ul>
        </div>
    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-baseline text-gray-900 dark:text-white">
            <span class="text-3xl font-semibold">１レッスンごとの受講</span>
        </div>
        <!-- List -->
        <ul role="list" class="space-y-5 my-7">
            <li class="flex space-x-3">
                <!-- Icon -->
                <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">一般クラスのみチケット受講可</span>
            </li>
            <li class="flex space-x-3">
            <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">5回チケット ￥9200（2カ月有効）</span>
            </li>

            <li class="flex space-x-3">
                <!-- Icon -->
                <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">非会員の方が受講される場合</span>
            </li>
            <li class="flex space-x-3">
            <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">1レッスン ¥2060</span>
            </li>

            <li class="flex space-x-3">
                <!-- Icon -->
                <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-blue-600 dark:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Check icon</title><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">一般クラス</span>
                <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">:</span>
                <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">¥6500</span>
            </li>
        </ul>
    </div>

</div>
<div class="flex flex-col text-center gap-2 mt-4">
    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">キッズ～高校生までのお月謝割引システム (入門・OPEN・一般クラス対象)</span>
    <span class="text-xl font-medium leading-tight text-gray-500 dark:text-gray-400">1クラス追加毎に¥500OFF、1クラス目は通常通り、2クラス目以降は500円OFFになります。</span>
    
</div>

</div>
{% endblock %}